force-app/main/default/flows/PITS_Create_Billings_By_Project_Member.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Put_Counter_For_Loop_From_Month</name>
        <label>Put Counter For Loop From Month</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vIteration</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DesicionOfBillingS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>vSingleSB</name>
        <label>vSingleSB</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vSingleBillingSchedule.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project_Contract__r.PITS_Customer_Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSingleBillingSchedule.Employee_Bill_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmployeeBillRateFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSingleBillingSchedule.Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Employee__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSingleBillingSchedule.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endDatefx</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSingleBillingSchedule.Project_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project_Contract__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSingleBillingSchedule.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSingleBillingSchedule.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSingleBillingSchedule.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>startDatefx</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSingleBillingSchedule.Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Employee__r.PITS_Hourly_rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCollectionBillingSchedules</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vSingleBillingSchedule</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vIteration</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>DesicionOfBillingS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DesicionOfBillingS</name>
        <label>DesicionOfBillingS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_All_BS_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>createNewBS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vIteration</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>vCounter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>vSingleSB</targetReference>
            </connector>
            <label>createNewBS</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EmployeeBillRateFormula</name>
        <dataType>Number</dataType>
        <expression>IF(
    {!Get_Record_Type.Name} = &quot;Hourly&quot;, 
    {!rateFormula}, 
    IF(
        {!Get_Record_Type.Name} = &quot;Monthly Fixed Priced&quot;, 
        120, 
        0
    )
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>endDatefx</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!startDatefx}, 1) - 1</expression>
    </formulas>
    <formulas>
        <name>endDatefx_Update</name>
        <dataType>Date</dataType>
        <expression>IF(
    {!$Record.Project_Contract__r.PITS_End_Date__c} &gt; DATE(YEAR(TODAY()), 12, 31),
    DATE(YEAR(TODAY()), 12, 31),
    {!$Record.Project_Contract__r.PITS_End_Date__c}
)</expression>
    </formulas>
    <formulas>
        <name>monthFx</name>
        <dataType>Number</dataType>
        <expression>((YEAR({!$Record.Project_Contract__r.PITS_End_Date__c}) - YEAR({!$Record.Project_Contract__r.PITS_Start_Date__c})) * 12) + 
(MONTH({!$Record.Project_Contract__r.PITS_End_Date__c}) - MONTH({!$Record.Project_Contract__r.PITS_Start_Date__c})) + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>picklistValueFx</name>
        <dataType>String</dataType>
        <expression>text({!$Record.Project_Contract__r.PITS_Project_Billing__c})</expression>
    </formulas>
    <formulas>
        <name>QuantityFormula</name>
        <dataType>Number</dataType>
        <expression>IF(
    {!Get_Record_Type.Name} = &quot;Hourly&quot;, 
    168, 
    IF(
        {!Get_Record_Type.Name} = &quot;Monthly_Fixed_Priced&quot;, 
        1, 
        1
    )
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>rateFormula</name>
        <dataType>Number</dataType>
        <expression>IF(
    {!Get_Record_Type.Name} = &quot;Hourly&quot;, 
    {!$Record.Employee__r.PITS_Hourly_rate__c}, 
    IF(
        {!Get_Record_Type.Name} = &quot;Monthly Fixed Priced&quot;, 
        {!$Record.Employee__r.PITS_Monthly_Rate__c}, 
        0
    )
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>recordTypeNameFx</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Project_Contract__r.PITS_Project_Billing__c}, 
&quot;Hourly&quot;, &quot;Hourly&quot;,
&quot;Monthly_Fixed_Price&quot;, &quot;Monthly_Fixed_Priced&quot;,
&quot;Default_Record_Type_Name&quot;)</expression>
    </formulas>
    <formulas>
        <name>startDatefx</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR(ADDMONTHS({!$Record.Project_Contract__r.PITS_Start_Date__c}, {!vIteration})),
    MONTH(ADDMONTHS({!$Record.Project_Contract__r.PITS_Start_Date__c}, {!vIteration})),
    1
)</expression>
    </formulas>
    <formulas>
        <name>vCounter</name>
        <dataType>Number</dataType>
        <expression>((YEAR({!endDatefx_Update}) - YEAR({!$Record.Project_Contract__r.PITS_Start_Date__c})) * 12) + 
(MONTH({!endDatefx_Update}) - MONTH({!$Record.Project_Contract__r.PITS_Start_Date__c})) + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>PITS Create Billings By Project Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PITS Create Billings By Project Member</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_All_BS_Records</name>
        <label>Create All BS Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>vCollectionBillingSchedules</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Put_Counter_For_Loop_From_Month</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordTypeNameFx</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <object>Project_Member__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>vCollectionBillingSchedules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Schedule__c</objectType>
    </variables>
    <variables>
        <name>vIteration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vSingleBillingSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Schedule__c</objectType>
    </variables>
</Flow>
